In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df=pd.read_csv('/content/train_age_dataset.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488877 entries, 0 to 488876
Data columns (total 27 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Unnamed: 0                       488877 non-null  int64
 1   userId                           488877 non-null  int64
 2   tier                             488877 non-null  int64
 3   gender                           488877 non-null  int64
 4   following_rate                   488877 non-null  float64
 5   followers_avg_age                488877 non-null  float64
 6   following_avg_age                488877 non-null  float64
 7   max_repetitive_punc              488877 non-null  int64
 8   num_of_hashtags_per_action       488877 non-null  float64
 9   emoji_count_per_action           488877 non-null  float64
 10  punctuations_per_action          488877 non-null  float64
 11  number_of_words_per_action       488877 non-null  float64
 12  avgCompletion                    488877 non-null  float64
 13  avgTimeSpent                     488877 non-null  float64
 14  avgDuration                      488877 non-null  float64
 15  avgComments                      488877 non-null  int64
 16  creations                        488877 non-null  float64
 17  content_views                    488877 non-null  float64
 18  num_of_comments                  488877 non-null  float64
 19  weekends_trails_watched_per_day  488877 non-null  float64
 20  weekdays_trails_watched_per_day  488877 non-null  float64
 21  slot1_trails_watched_per_day     488877 non-null  float64
 22  slot2_trails_watched_per_day     488877 non-null  float64
 23  slot3_trails_watched_per_day     488877 non-null  float64
 24  slot4_trails_watched_per_day     488877 non-null  float64
 25  avgt2                            488877 non-null  float64
 26  age_group                        488877 non-null  int64
dtypes: float64(20), int64(7)
memory usage: 100.7 MB

In [ ]:
df.isna().sum()

Unnamed: 0                         0
userId                             0
tier                               0
gender                             0
following_rate                     0
followers_avg_age                  0
following_avg_age                  0
max_repetitive_punc                0
num_of_hashtags_per_action         0
emoji_count_per_action             0
punctuations_per_action            0
number_of_words_per_action         0
avgCompletion                      0
avgTimeSpent                       0
avgDuration                        0
avgComments                        0
creations                          0
content_views                      0
num_of_comments                    0
weekends_trails_watched_per_day    0
weekdays_trails_watched_per_day    0
slot1_trails_watched_per_day       0
slot2_trails_watched_per_day       0
slot3_trails_watched_per_day       0
slot4_trails_watched_per_day       0
avgt2                              0
age_group                          0
dtype: int64

In [ ]:
df['weekdays_trails_watched_per_day']

0         0.025000
1         0.018644
2         0.000557
3         0.001681
4         0.049180
            ...
488872    0.006400
488873    0.339655
488874    0.118033
488875    0.030894
488876    0.011382
Name: weekdays_trails_watched_per_day, Length: 488877, dtype: float64

In [ ]:
df['weekdays_trails_watched_per_day']=df['weekdays_trails_watched_per_day'].fillna(df['weekdays_trails_watched_per_day'].mean())

In [ ]:
df['weekends_trails_watched_per_day']=df['weekends_trails_watched_per_day'].fillna(df['weekends_trails_watched_per_day'].mean())

In [ ]:
df['slot1_trails_watched_per_day']=df['slot1_trails_watched_per_day'].fillna(df['slot1_trails_watched_per_day'].mean())

In [ ]:
df['slot2_trails_watched_per_day']=df['slot2_trails_watched_per_day'].fillna(df['slot2_trails_watched_per_day'].mean())

In [ ]:
df['slot3_trails_watched_per_day']=df['slot3_trails_watched_per_day'].fillna(df['slot3_trails_watched_per_day'].mean())

In [ ]:
df['slot4_trails_watched_per_day']=df['slot4_trails_watched_per_day'].fillna(df['slot4_trails_watched_per_day'].mean())

In [ ]:
df['avgt2']=df['avgt2'].fillna(df['avgt2'].mean())

In [ ]:
df.dropna(axis=0)

        Unnamed: 0    userId  ...       avgt2  age_group
0           265153  48958844  ...    0.000000          1
1           405231  51100441  ...   82.500000          2
2            57867   6887426  ...    0.000000          1
3           272618  50742404  ...    0.000000          1
4           251123  45589200  ...    0.000000          1
...            ...       ...  ...         ...        ...
488872      535266  38983571  ...  195.000000          1
488873       36706  53264639  ...  188.742857          4
488874       31570  44693578  ...  184.880000          4
488875      239209  42760145  ...    0.000000          1
488876      238035  42482997  ...    0.000000          1

[488877 rows x 27 columns]

In [ ]:
df.isna().sum()

Unnamed: 0                         0
userId                             0
tier                               0
gender                             0
following_rate                     0
followers_avg_age                  0
following_avg_age                  0
max_repetitive_punc                0
num_of_hashtags_per_action         0
emoji_count_per_action             0
punctuations_per_action            0
number_of_words_per_action         0
avgCompletion                      0
avgTimeSpent                       0
avgDuration                        0
avgComments                        0
creations                          0
content_views                      0
num_of_comments                    0
weekends_trails_watched_per_day    0
weekdays_trails_watched_per_day    0
slot1_trails_watched_per_day       0
slot2_trails_watched_per_day       0
slot3_trails_watched_per_day       0
slot4_trails_watched_per_day       0
avgt2                              0
age_group                          0
dtype: int64

In [ ]:
df.dropna(axis=0)

        Unnamed: 0    userId  ...       avgt2  age_group
0           265153  48958844  ...    0.000000          1
1           405231  51100441  ...   82.500000          2
2            57867   6887426  ...    0.000000          1
3           272618  50742404  ...    0.000000          1
4           251123  45589200  ...    0.000000          1
...            ...       ...  ...         ...        ...
488872      535266  38983571  ...  195.000000          1
488873       36706  53264639  ...  188.742857          4
488874       31570  44693578  ...  184.880000          4
488875      239209  42760145  ...    0.000000          1
488876      238035  42482997  ...    0.000000          1

[488877 rows x 27 columns]

In [ ]:
df.isna().sum()

Unnamed: 0                         0
userId                             0
tier                               0
gender                             0
following_rate                     0
followers_avg_age                  0
following_avg_age                  0
max_repetitive_punc                0
num_of_hashtags_per_action         0
emoji_count_per_action             0
punctuations_per_action            0
number_of_words_per_action         0
avgCompletion                      0
avgTimeSpent                       0
avgDuration                        0
avgComments                        0
creations                          0
content_views                      0
num_of_comments                    0
weekends_trails_watched_per_day    0
weekdays_trails_watched_per_day    0
slot1_trails_watched_per_day       0
slot2_trails_watched_per_day       0
slot3_trails_watched_per_day       0
slot4_trails_watched_per_day       0
avgt2                              0
age_group                          0
dtype: int64

In [ ]:
df['age_group']=df['age_group'].fillna(df['age_group'].mode()[0])

In [ ]:
df.isna().sum()

Unnamed: 0                         0
userId                             0
tier                               0
gender                             0
following_rate                     0
followers_avg_age                  0
following_avg_age                  0
max_repetitive_punc                0
num_of_hashtags_per_action         0
emoji_count_per_action             0
punctuations_per_action            0
number_of_words_per_action         0
avgCompletion                      0
avgTimeSpent                       0
avgDuration                        0
avgComments                        0
creations                          0
content_views                      0
num_of_comments                    0
weekends_trails_watched_per_day    0
weekdays_trails_watched_per_day    0
slot1_trails_watched_per_day       0
slot2_trails_watched_per_day       0
slot3_trails_watched_per_day       0
slot4_trails_watched_per_day       0
avgt2                              0
age_group                          0
dtype: int64

In [ ]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix,classification_report

In [ ]:
X.info()

In [ ]:
Y

0         1
1         2
2         1
3         1
4         1
         ..
488872    1
488873    4
488874    4
488875    1
488876    1
Name: age_group, Length: 488877, dtype: int64

In [ ]:
Y=pd.DataFrame(Y)
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488877 entries, 0 to 488876
Data columns (total 1 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   age_group  488877 non-null  int64
dtypes: int64(1)
memory usage: 3.7 MB

In [ ]:
Y.value_counts()

age_group
1            308315
4             60803
3             60404
2             59355
dtype: int64

In [ ]:
from keras.utils import to_categorical

In [ ]:
Y['age_group']=Y['age_group'].replace(1,0)
Y['age_group']=Y['age_group'].replace(2,1)
Y['age_group']=Y['age_group'].replace(3,2)
Y['age_group']=Y['age_group'].replace(4,3)

In [ ]:
Y.value_counts()

age_group
0            308315
3             60803
2             60404
1             59355
dtype: int64

In [ ]:
Y=to_categorical(Y,num_classes=4)

In [ ]:
Y

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       ...,
       [0., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 0., 0., 0.]], dtype=float32)

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [ ]:
import keras

In [ ]:
from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.optimizers import SGD

In [ ]:
classifier=Sequential()

In [ ]:
classifier.add(Dense(64,activation = "relu",input_dim=26))
classifier.add(Dense(64,activation='relu'))
classifier.add(Dense(64,activation='relu'))
classifier.add(Dense(128,activation='relu'))
classifier.add(Dense(64,activation='relu'))
classifier.add(Dense(64,activation='relu'))
classifier.add(Dense(4,activation='sigmoid'))

In [ ]:
opt=SGD(lr= 0.0001,momentum=0.9,decay=0.01)
classifier.compile(optimizer=opt,loss='categorical_crossentropy',metrics=['accuracy'])

In [ ]:
classifier.fit(X,Y,batch_size=20,epochs=100)

Epoch 1/100
24444/24444 [==============================] - 35s 1ms/step - loss: 1.3295 - accuracy: 0.6298
Epoch 2/100
24444/24444 [==============================] - 35s 1ms/step - loss: 1.3168 - accuracy: 0.6307
Epoch 3/100
24444/24444 [==============================] - 35s 1ms/step - loss: 1.3124 - accuracy: 0.6307
Epoch 4/100
24444/24444 [==============================] - 35s 1ms/step - loss: 1.3096 - accuracy: 0.6307
Epoch 5/100
12425/24444 [==============>...............] - ETA: 17s - loss: 1.3081 - accuracy: 0.6302

KeyboardInterrupt: ignored

In [ ]:
import seaborn as sns

In [ ]:
y_pred = classifier.predict(df1)
y_pred=pd.DataFrame(y_pred)

In [ ]:
def create_model():

  	model = Sequential()
  	model.add(Dense(12, input_dim=26, activation='relu'))
  	model.add(Dense(4, activation='sigmoid'))
	# Compile model
  	model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
  	return model

In [ ]:
# Use scikit-learn to grid search the batch size and epochs
from sklearn.model_selection import GridSearchCV
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier

In [ ]:

seed = 7
np.random.seed(seed)

In [ ]:
model = KerasClassifier(build_fn=create_model, verbose=0)

In [ ]:
batch_size = [10, 20, 40, 60, 80, 100]
epochs = [10, 50, 100]
param_grid = dict(batch_size=batch_size, epochs=epochs)

In [ ]:
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)

In [ ]:
grid_result = grid.fit(X, Y)

In [ ]:
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

In [ ]:

from sklearn.model_selection import GridSearchCV
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
def create_model(optimizer='adam'):
	# create model
	model = Sequential()
	model.add(Dense(12, input_dim=26, activation='relu'))
	model.add(Dense(4, activation='sigmoid'))
	# Compile model
	model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
	return model
# fix random seed for reproducibility
seed = 7
np.random.seed(seed)

# create model
model = KerasClassifier(build_fn=create_model, epochs=100, batch_size=10, verbose=0)
# define the grid search parameters
optimizer = ['SGD', 'RMSprop', 'Adagrad', 'Adadelta', 'Adam', 'Adamax', 'Nadam']
param_grid = dict(optimizer=optimizer)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)

In [ ]:
grid_result = grid.fit(X, Y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

In [ ]:
# Use scikit-learn to grid search the learning rate and momentum

from sklearn.model_selection import GridSearchCV
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.optimizers import SGD
# Function to create model, required for KerasClassifier
def create_model(learn_rate=0.01, momentum=0):
	# create model
	model = Sequential()
	model.add(Dense(12, input_dim=26, activation='relu'))
	model.add(Dense(4, activation='sigmoid'))
	# Compile model
	optimizer = SGD(lr=learn_rate, momentum=momentum)
	model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
	return model
# fix random seed for reproducibility
seed = 7
np.random.seed(seed)

model = KerasClassifier(build_fn=create_model, epochs=100, batch_size=10, verbose=0)
# define the grid search parameters
learn_rate = [0.001, 0.01, 0.1, 0.2, 0.3]
momentum = [0.0, 0.2, 0.4, 0.6, 0.8, 0.9]
param_grid = dict(learn_rate=learn_rate, momentum=momentum)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X, Y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

In [ ]:
# Use scikit-learn to grid search the number of neurons
from sklearn.model_selection import GridSearchCV
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from keras.constraints import maxnorm
# Function to create model, required for KerasClassifier
def create_model(neurons=1):
	# create model
	model = Sequential()
	model.add(Dense(neurons, input_dim=26, kernel_initializer='uniform', activation='linear', kernel_constraint=maxnorm(4)))
	model.add(Dropout(0.2))
	model.add(Dense(4, kernel_initializer='uniform', activation='sigmoid'))
	# Compile model
	model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
	return model
# fix random seed for reproducibility
seed = 7
np.random.seed(seed)

model = KerasClassifier(build_fn=create_model, epochs=100, batch_size=20, verbose=0)
# define the grid search parameters
neurons = [  40, 45, 50, 55, 60 , 65]
param_grid = dict(neurons=neurons)
grid = GridSearchCV(estimator=model, param_grid=param_grid, n_jobs=-1, cv=3)
grid_result = grid.fit(X, Y)
# summarize results
print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))